  /* styles for the navbar */
    body{
        margin: 0px;
       }
        .navbar {
            background-color: #c5126b;
            overflow: hidden;
            margin: 0px;
            display: block !important;
        }
       
        .navbar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .navbar li {
            float: left;
        }

        .navbar li a {
            display: block;
            color: #333;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Styles for the search bar */
        .search-container {
            float: right;
            padding: 14px 16px;
            width:100%;
            padding-left: 120px;
        }

        .search-container input[type="text"] {
            padding: 6px;
            font-size: 17px;
            width: 60%;
            border: none;
        }

        .search-container button {
            padding: 6px 10px;
            width: 100px;
            background: #000000;
            color: #ffffff;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }
         .search-container button:hover {
            background: #4b4a4a;
        }
        /* Styles for grid */
        .grid-container{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            grid-gap:2px;
    
        }
        .item{
              padding: 0px;
              background: #c8c6c6;
        }
        .grid-item-1{
            grid-row:span 2;
        }

        .grid-item-4{
            grid-column:span 2;
        }
        .links{
          background-color: #ffffff;
          height: 95%;
          margin: 10px;
          padding: 10px;
        }
        .card{
          margin: 20px;
          border-radius: 30px;
        }
        /* Styles for slider */
        .carousel-control-prev-icon{
          color: #000000 !important;
          /* background-color: #aaa7a7a0 !important;
          border-radius: 50%; */
        }
        .carousel-control-next-icon{
          color: #000000 !important;
          /* background-color: #363636a0 !important;
          border-radius: 50%; */
        }
       
        
        footer{
            background-color: #000000;
        }
    
 @media screen and (max-width: 450px) {
  .grid-container {
    grid-template-columns: 1fr !important;
    background-color: #4b4a4a;
  }
  .grid-item-1 {
    grid-row: span 1;
  }
  .grid-item-4 {
    grid-column: span 1;
  }
  .item {
    background: #a64545;
  }
  footer {
    background-color: #c5126b;
  }
}


        
